/* grid-auto-columns & grid-auto-rows */
/* Mengatur ukuran grid track yang tidak dituliskan pada grid-template (implicit track) */

/* grid-auto-columns: <track-size>; */
/* grid-auto-rows: <track-size>; */

/* grid-auto-flow */
/* Mengatur penempatan item/cell pada grid track, termasuk yang ditulis secara implicit */

/* grid-auto-flow: row | column | row dense | column dense; */

html, body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

.container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 100px 50px;
  grid-template-rows: 50px 30px;
  /* grid-auto-rows: 200px; */
  grid-auto-flow: column;
}

.item {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(even) {
  background-color: salmon;
}